@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome AmazonPay v2 Sample</h1>
    <ul>
        <li><a asp-controller="Front" asp-action="Cart">カート</a></li>
    </ul>
</div>
